@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-image: url('../public/monters/bg-abs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.marquee {
  --gap: 1.5rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  box-shadow: var(--bs);
  margin: 1rem 0;
  cursor: pointer;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media screen and (max-width: 1030px) {
  .marquee {
      display: none;
  }
}

.itemHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  border: 0 0 1px 0px solid #000;
  /* margin: 1rem auto; */
  text-align: center;
  padding: 1.5rem 0;
  
}

.itemHolder h1 {
  margin-top: 1.5rem;
  text-decoration: none;
}